<div class="introduction-wrapper">
    <span class="introduction-wrapper__text-a">Hi, I am Mehak Bhardwaj</span>
     <img src="https://img.freepik.com/free-vector/young-woman-uses-computer-work-reduce-infection_1150-34985.jpg?t=st=1744045789~exp=1744049389~hmac=7703a7e7a194447a6e957cae9166037d6e2326b6f5e1ae4582a3a80f63ec8351&w=740">
    <span class="introduction-wrapper__text-b">Software Engineer</span>
    <span class="introduction-wrapper__text-c">I design in code — building web apps that are clean and simple.</span>

</div>
<div class="skills-wrapper">
    <div id = "about" class="skills-wrapper__card skills-wrapper__about">
      <h2 class="skills-wrapper__title">About Me</h2>
      <p class="skills-wrapper__text">
        Front-End Developer with 2 years of experience building scalable Angular applications and reusable UI component libraries.
        Skilled in optimizing performance, creating modular architectures, and reducing development time.
      </p>
    </div>
  
    <div class="skills-wrapper__card skills-wrapper__skills">
      <h2 class="skills-wrapper__title">Skills</h2>
      <p class="skills-wrapper__text">HTML, CSS, JavaScript</p>
      <p class="skills-wrapper__text">Angular</p>
    </div>
  
    <div id ="projects" class="skills-wrapper__card skills-wrapper__experience">
      <h2 class="skills-wrapper__title">Experience</h2>
      <div class="skills-wrapper__text">
        <!-- Add experience details here -->
      </div>
    </div>
  
    <div class="skills-wrapper__card skills-wrapper__interests">
      <h2 class="skills-wrapper__title">What else I love</h2>
      <div class="skills-wrapper__text">
        <!-- Add personal interests here -->
      </div>
    </div>
  
    <div class="skills-wrapper__card skills-wrapper__education">
      <h2 class="skills-wrapper__title">Education</h2>
      <div class="skills-wrapper__text">
        <!-- Add education details here -->
      </div>
    </div>

    <div id="contact" class="skills-wrapper__card skills-wrapper__contact">
        <h2 class="skills-wrapper__title">Contact</h2>
        <div class="skills-wrapper__text">
        </div>
      </div>
  </div>

  <footer class="bottom">
    <!-- <div>something </div> -->

  </footer>
  
  
