<div id="home" class="introduction-wrapper">
    <span class="introduction-wrapper__text-a">Hi, I am Mehak Bhardwaj</span>
     <img src="https://img.freepik.com/free-vector/young-woman-uses-computer-work-reduce-infection_1150-34985.jpg?t=st=1744045789~exp=1744049389~hmac=7703a7e7a194447a6e957cae9166037d6e2326b6f5e1ae4582a3a80f63ec8351&w=740">
    <span class="introduction-wrapper__text-b">Front-End Engineer</span>
    <span class="introduction-wrapper__text-c">Building web apps that are clean and simple.</span>

</div>
<div class="skills-wrapper">
  <div class="about-skills">
    <div id = "about" class="skills-wrapper__card skills-wrapper__about">
      <h2 class="skills-wrapper__title">About Me</h2>
      <p class="skills-wrapper__text">
        Front-End Developer with 2 years of experience building scalable Angular applications and reusable UI component libraries.
        Skilled in optimizing performance, creating modular architectures, and reducing development time.
      </p>
    </div>
  
    <div class="skills-wrapper__card skills-wrapper__skills">
      <h2 class="skills-wrapper__title">Skills</h2>
      <div class="skills-wrapper__text">
        <span>Angular, RxJS, TypeScript, NgRx, Angular Material</span>
        <span>HTML5, CSS3, SCSS, JavaScript, jinja, HighCharts </span>
        <span>Git, GitHub, GitLab, cursor(AI), Karma, Jasmine </span>
        <span>Highly organized, Innovative problem-solving, Agile Methodologies</span>

        </div>
    </div>
  </div>

  <div class="about-skills">
  
    <div id ="experience" class="skills-wrapper__card skills-wrapper__experience">
      <h2 class="skills-wrapper__title">Experience</h2>
      <div class="skills-wrapper__text">
        <span>Front-End Developer </span>
        <span>Private Circle</span>
        <span>June 2023 - Present</span>
      </div>
    </div>
  
    <!-- <div class="skills-wrapper__card skills-wrapper__interests">
      <h2 class="skills-wrapper__title">What else I love</h2>
      <div class="skills-wrapper__text">
      </div>
    </div> -->

    <div class="skills-wrapper__card skills-wrapper__education">
      <h2 class="skills-wrapper__title">Education</h2>
      <div class="skills-wrapper__text">
       <span> Bachelor of Technology </span>
        <span>Government Women Engineering College </span>
         <span>2013 July - 2017 July </span>
      </div>
    </div>

    </div>

    <div id ="projects" class="skills-wrapper__card skills-wrapper__experience">
      <h2 class="skills-wrapper__title">Projects</h2>
      <div class="skills-wrapper__text">
        <ul>
          <li>
            <a href="https://privatecircle.co" target="_blank">PC-HOME PAGE</a>
          </li>
          <li>
            <a href="https://privatecircle.co/press" target="_blank">PRESS PAGE</a>
          </li>
          <li>
          <a href="https://privatecircle.co/research/" taget="_blank"> PC RESEARCH</a>
        </li>
        <li>
          <a href="" target="_blank"> VISUALIZE TRANSPORT ROUTE</a>
        </li>
        </ul>
     
      </div>
    </div>
  

  </div>

  <footer class="bottom">
    <!-- <div>something </div> -->
     <div><i class="ph-fill ph-linkedin-logo"></i>

     </div>
     <div>
      <i class="ph-fill ph-github-logo"></i>
     </div>

     
    <div id="contact" class="contact-Details">
      <h2 class="">Contact</h2>
        <div> <i class="ph-fill ph-map-pin"></i> Bengaluru</div>
        <div> <i class="ph-fill ph-envelope"></i> {{'mehakbhardwaj@gmail.com'}}</div>
        <div><a href="https://github.com/Mehak-B" target="_blank"><i class="xph ph-github-log"></i>GitHub</a></div>
        <div><a href="https://www.linkedin.com/in/mehak-bhardwaj-89a3b" target="_blank">LinkedIn</a></div>
        <div><a href="" ></a></div>
    </div>

  </footer>
  
  
