<div class="introduction-wrapper">
    <span class="introduction-wrapper__text-a">Hi, I am Mehak Bhardwaj</span>
    <!-- <img src="https://as1.ftcdn.net/v2/jpg/08/33/84/98/1000_F_833849841_s9ikrcxCtGcEzMtVCp4cFpnUKhMJRkWK.jpg"> -->
     <img src="https://img.freepik.com/free-vector/young-woman-uses-computer-work-reduce-infection_1150-34985.jpg?t=st=1744045789~exp=1744049389~hmac=7703a7e7a194447a6e957cae9166037d6e2326b6f5e1ae4582a3a80f63ec8351&w=740">
    <span class="introduction-wrapper__text-b">Software Engineer</span>
    <span class="introduction-wrapper__text-c">I design in code — building web apps that are clean and simple.</span>

</div>