.nav-bar-container{
    margin:50px;
    &__ul{
        font-family:Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 600;
        cursor:pointer;
        display: flex;
        gap: 40px;
        justify-content: flex-end;
        list-style-type: none;
    }

}